.container {
  height: 100vh;
  background-color: #f1f1f1;
  width: 100%;
  background-image: url("/assets/images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  direction: rtl;
  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      margin: 10px;
      text-align: center;
      font-size: 18px;
      color: #f1f1f1;
    }
  }
  .content {
    margin: auto;
    width: 80%;
    height: 70vh;
    background-color: rgba(4, 6, 12, 0.28);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;



      }
    }
    .card-login {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-top: 24px;
      .item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(255 255 255 / 35%);
        border-radius: 20px;
        padding: 20px;
        margin: auto;
      }
    }
    mat-card-title{
      font-family: "Yekan";

    }

@media only screen and (max-width: 767px) {
  .d-0{
    display: none !important;
  }
  .curent {
    justify-content: center !important;
    .center-item {
      align-items: center;
      margin-right: 0 !important;
    }
  }

.daily-weather{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  overflow: auto;
  padding: 20px;

  .item{
    margin: 20px !important;
  }
}

}
