<div class="weather-container">
  <div class="navbar">

  </div>
  <div class="search">
    <app-search-drop-down
      [multiple]="false"
      [notFoundText]="'City Not Found'"
      [placeholder]="'Search Weather'"
      [bindLabel]="'name'"
      [bindValue]="'coord'"

    >
    </app-search-drop-down>
  </div>
  <div  class="content">
    <div class="curent">
      <div class="curent-item d-0">


        <div fxLayout="row" fxLayoutAlign="center center">
          <mat-card>
            <mat-card-header>
              <mat-card-title>Log in</mat-card-title>
            </mat-card-header>

          <form [formGroup]="loginForm" (ngSubmit)="submitLoginForm()" class="form form-inline example-form">

              <mat-card-content>
                <mat-form-field class="example-full-width">
                  <input type="text" tabindex="1"  matInput placeholder="کد موقع ثبت نام را وارد کنید" formControlName="registerCode">
                </mat-form-field>
              </mat-card-content>
              <button mat-stroked-button color="accent" class="btn-block">ورود</button>
            </form>
          </mat-card>
        </div>

      </div>
      <div class="curent-item center-item">
      </div>
      <div class="curent-item align-end d-0">
      </div>
    </div>

  </div>
</div>

