<div class="form-container">
  <!-- <input type="text" *ngFor="let input of inputs" [formControl]="input" value="getRandomIntInclusive()"> -->
  <!-- <ng-container *ngFor="let item of [].constructor(5); index as i">
    <ng-container *ngFor="let subitem of [].constructor(8); index as j">
      <input type="text" placeholder="دما"/>

    </ng-container>
  </ng-container> -->


</div>

<!-- <div
  *ngFor="let rowNumbers of matrix"
  style="display: flex;"
  >
  <div *ngFor="let num of rowNumbers" style="border: 1px solid black;">
    {{num}}
  </div>
</div> -->

<div class="form-container">
<input *ngFor="let num of matrix" value="{{num}}"/>

</div>

